@use "../../assets/styles/media-queries" as *;

main {
  grid-area: main;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

// qui sommes nous

.content-qui-sommes-nous {
  height: auto;
  min-height: 60rem;
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  background: white;
  @include sm {
    min-height: 40rem;
  }
}
.container-qui-sommes-nous {
  width: auto;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 2rem 5rem;
  @include xs {
    align-items: center;
    text-align: center;
  }
  @include sm {
    max-width: 100rem;
    align-items: center;
    text-align: center;
  }
}

.img-qui-sommes-nous {
  height: 40rem;
  width: 60rem;
  background-image: url(/src/assets/images/2-qui_sommes_nous.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2rem 5rem 2rem 0;
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
}
.text-qui-sommes-nous {
  margin: 5rem 0;
}
// nos expertises

.content-nos-expertise {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  padding: 5rem;
  text-align: center;
}
.container-nos-expertise {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  margin: 5rem;
  @include xs {
    flex-direction: column;
    align-items: center;
  }
}
.elem-nos-expertise {
  height: auto;
  min-height: 30rem;
  min-width: none;
  width: auto;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  margin-top: 2rem;
}
.under-title-nos-expertise {
  display: flex;
  align-items: center;
  height: 5.3rem;
}
.symbole-nos-expertise {
  margin-bottom: 5rem;
}
.symbole-nos-expertise-1 {
  height: 5rem;
  width: 5rem;
}
.symbole-nos-expertise-2 {
  height: 5rem;
  width: 5rem;
}
.symbole-nos-expertise-3 {
  height: 5rem;
  width: 5rem;
}
.symbole-nos-expertise-4 {
  height: 5rem;
  width: 3rem;
}
.separator-nos-expertise {
  height: 100%;
  width: 1px;
  border: 1px var(--blue) dashed;
  margin: 0rem 5rem;
  @include xs {
    display: none;
  }
  @include sm {
    margin: 0 2.5rem;
  }
}
.text-nos-expertise {
  font-size: 2.2rem;
  margin: 5rem 0 0 0;
}

// nos valeurs
.content-nos-valeurs {
  position: relative;
  height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/src/assets/images/10-close-up-young-colleagues-having-meeting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  @include xs {
    height: auto;
  }
}

.content-nos-valeurs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: 1;
}

.content-nos-valeurs > * {
  position: relative;
  z-index: 2;
}

.container-nos-valeurs {
  width: 70%;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
  @include xs {
    display: none;
  }
}
.container-symbole-nos-valeurs {
  margin: 0 4rem;
}

.text-nos-valeurs {
  color: white;
  margin: 2rem 0 0 0;
}
.symbole-nos-valeurs {
  height: 8rem;
  width: auto;
}

// votre besoin

.content-votre-besoin {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  padding: 5rem;
}
.container-votre-besoin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 5rem;
  @include xs {
    flex-direction: column;
    margin: 2rem;
  }
  @include sm {
    flex-direction: column;
  }
}

.span-votre-besoin {
  height: auto;
  width: auto;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  text-align: center;
  background: white;
  border-radius: 2rem;
}

.img-votre-besoin {
  height: 25rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 2rem 2rem 0 0;
}
.separator-votre-besoin {
  height: 2px;
  width: 80%;
  margin: 2rem;
  background: #eee;
}
.btn-votre-besoin {
  margin: 5rem 0;
}
.text-votre-besoin {
  font-weight: 300;
}
