@font-face {
  font-family: "strasua";
  src: url("C:/Users/Azstras/OneDrive/Documents/polices/strasua.otf")
    format(opentype);
}
@font-face {
  font-family: "raleway";
  src: url("C:/Users/Azstras/OneDrive/Documents/polices/Raleway-Black.ttf")
    format(opentype);
}
