@use "media-queries" as *;

// nav bar
nav {
  height: 8rem;
  display: flex;
  align-items: center;
}
.nav-container {
  height: 2rem;
  display: flex;
  align-items: start;
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
}
.link-nav-bar {
  margin: 0 2rem 0 2rem;
  color: white;
  font-weight: 300;
  text-decoration: none;
  transition: 1s;
}

// menu vos besoins

.menu-vos-besoins {
  height: 3rem;
  width: 15rem;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
  overflow: hidden;

  &:hover {
    height: 15rem;
    width: auto;
    min-width: 20.5rem;
  }
  &:hover > .menu-vos-besoins-container {
    display: flex;
  }
  &:hover > .vos-besoins {
    color: white;
    letter-spacing: 0.2rem;
  }
  &:hover > .underline-0 {
    background: white;
  }
}
.menu-vos-besoins-container {
  height: 13rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all 1s;
}
.menu-vos-besoins-container-active-1 {
  background: #d4c2a1;
}

.link-vos-besoins {
  position: relative;
  z-index: 0;
  transition: 1s;
  &:hover {
    color: white;
    letter-spacing: 0.2rem;
  }
}
.vos-besoins {
  margin: 0 0 1rem 0;
  cursor: pointer;
}

// menu langue

.menu-langue {
  height: 3rem;
  display: flex;
  width: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
  overflow: hidden;
  &:hover {
    height: 15rem;
    width: 6.2rem;
  }
  &:hover > .container-menu-langue {
    display: flex;
  }
  &:hover > .first-langue {
    letter-spacing: 0.2rem;
    color: white;
  }
  &:hover > .underline-7 {
    background: white;
    height: 2px;
  }
}

.container-menu-langue {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  overflow: hidden;
}
.container-menu-langue-active-1 {
  background: #d4c2a1;
}
.catala {
  &:hover > .link-langue {
    color: white;
  }
}
.english {
  &:hover > .link-langue {
    color: white;
  }
}
.spanish {
  &:hover > .link-langue {
    color: white;
  }
}

.link-langue {
  color: white;
  width: 100%;
  display: flex;
  justify-content: start;
}
.first-langue {
  margin: 0;
  margin-bottom: 1rem;
}
// span

.span-menu {
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: space-between;
}
.span-menu-1 {
  &:hover > a {
    color: white;
    letter-spacing: 0.2rem;
  }
  &:hover > div {
    background: white;
  }
}
.span-menu-2 {
  &:hover > a {
    color: white;
    letter-spacing: 0.2rem;
  }
  &:hover > div {
    background: white;
  }
}
.span-menu-3 {
  &:hover > a {
    color: white;
    letter-spacing: 0.2rem;
  }
  &:hover > div {
    background: white;
  }
}
.span-menu-4 {
  &:hover > a {
    color: white;
  }
  &:hover > div {
    background: white;
  }
}
// underline

.underline {
  background: white;
  height: 2px;
  width: 100%;
  transform: translateX(-120%);
  transition: 1s;
}
.underline-active-1 {
  transform: translateX(0%);
}
.underline-0 {
  background: white;
  height: 2px;
  width: 100%;
  transition: 1s;
}
.underline-0-active-1 {
  transform: translateX(120%);
}
.underline-4 {
  background: white;
  height: 1px;
  width: 100%;
  transition: 1s;
}
.underline-5 {
  background: white;
  height: 1px;
  width: 100%;
  transition: 1s;
}
.underline-6 {
  background: white;
  height: 2px;
  width: 100%;
  transition: 1s;
  transform: translateX(-120%);
}
.underline-6-active-1 {
  transform: translateX(0%);
}
.underline-7 {
  background: white;
  height: 1px;
  width: 100%;
  transition: 1s;
}
.underline-7-active-1 {
  transform: translateX(120%);
}

// fleche / anim

.fleche {
  rotate: 90deg;
  transition: 1s;
}
.angle-active-1 {
  rotate: 180deg;
}
