.title {
  font-weight: 700;
  font-size: 3.5rem;
}
.under-title {
  font-size: 2.2rem;
  font-weight: 700;
}
.text {
  color: #333;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0 2rem;
}
.under-text {
  color: #333;
  font-weight: 300;
  font-size: 1.8rem;
}
.mb-3rem {
  margin-bottom: 3rem;
}
.mb-2rem {
  margin-bottom: 2rem !important;
}
.mt-5rem {
  margin-top: 5rem !important;
}
.mx-2rem {
  margin: 0 2rem !important;
}
.mr-2rem {
  margin-right: 2rem !important;
}
.underline-widget {
  text-decoration: underline;
}
